@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --mi-gris: rgb(15, 15, 15);
  --mi-cyan: #0ef;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    background-color: var(--mi-gris);
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 20px;
    justify-content: center;
    justify-content: space-between;
}

.portafolioTexto{
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.portafolioTexto:hover{
    transition: 0.5s;
    color: var(--mi-cyan);
    font-size: 33px;
}

.headerMenu{
    display: flex;
}

.menuTexto{
    display: flex;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}

.menuTexto:hover{
    transition: 0.5s;
    color: var(--mi-cyan);
    font-size: 17px;
}

.main{
    display: flex;
    justify-content: space-between;
    background-color: var(--mi-gris);
    height: 80vh;
}

.primeraSeccion{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.segundaSeccion{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.segundaSeccion h3{
    padding: 10px 0px 10px 0px;
    font-size: 30px;
}

.segundaSeccion h1{
    font-size: 50px;
    color: var(--mi-cyan);
}

.segundaSeccion h2 span{
    font-weight: 800;
    color: var(--mi-cyan);
}

.socialMedia{
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding: 10px 0px 20px 0px;
}

.iconMedia{
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
    color: var(--mi-gris);
    padding: 10px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconMedia:hover{
    background-color: var(--mi-gris);
}

.bxl-linkedin:hover{
    transition: 0.5s;
    color: #0A66C2;
}

.bxl-instagram:hover{
    transition: 0.5s;
    color: #a24eda;
}

.bxl-whatsapp:hover{
    transition: 0.5s;
    color: #25D366;
}

.imgContenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;

}

#fotoMia{
    width: 500px;
    border-radius: 50%;
    transition: box-shadow .5s, transform .1s;
    border: var(--mi-cyan) solid;
    animation: movimiento 2.5s linear infinite;
}

#fotoMia:hover{
    box-shadow: 0 0px 30px var(--mi-cyan);
}

.footer{
    background-color: var(--mi-gris);
    height: 10vh;
}

.wrapper{
    display: flex;
}

.wrapper h2 {
    font-size: 40px;
    font-weight: 600;
}

.primer-texto{
    font-size: 60px;
    color: #fff;
}

.parteDesarrollo{
    width: 100%;
    height: 110vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(var(--mi-gris), rgba(8, 8, 8, 0.5)), url("/img/desarrolladorWeb.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoDesarrollo{
    width: 40vw;
    text-align: center;
    padding: 30px;
    background-color: rgba(8, 8, 8, 0.8);
    border-radius: 10px;
}

.parteDesarrollo h1{
    color: white;
}

.textoDesarrollo p{
    color: white;
    padding-top: 20px;
}

.galeria{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.imgDiploma{
    width: 300px;
    padding: 20px;
    background-color: rgba(8, 8, 8, 0.8);
}

.imgDiploma:hover{
    width: 400px;
    transition: .5s;
    border-radius: 10px;
}

.mainProyectos{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(var(--mi-gris), rgba(8, 8, 8, 0.8)), url("/img/proyectos.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.mainProyectos h1{
    color: white;
    padding-bottom: 20px;
}

.btnGitHub{
    font-size: 60px;
    text-decoration: none;
    color: var(--mi-gris);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btnGitHub:hover{
    transition: 0.5s;
    font-size: 70px;
    border-radius: 20px;
    color: white;
    background-color: var(--mi-gris);
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}

.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}